%h1 Dotazník II. část

%form{:action => '/save_second', :method => :post}
  %ol
    %li
      %h2 Kolik byste byli ochotni zaplatit peněz za jednorázovou návštěvu Vašeho oblíbeného lesa, aniž byste se jí vzdali?
      %input{:id => 'once_payment', :name => 'questionnaire[once_payment]',
          :type => :text}
    %li
      %h2 Jakou částku byste byli ochotni jednorázově přijmout výměnou za trvalé znemožnění návštěvy Vašeho oblíbeného lesa?
      %input{:id => 'once_receive', :name => 'questionnaire[once_receive]',
          :type => :text}
    %li
      %h2 Jaká je podle vás významnost funkcí lesa v České republice?
      %select{:id => :important_wood, :name => 'questionnaire[important_wood]'}
        = five_options
      produkce a využití dříví 
      %br
      %select{:id => :important_gathering, :name => 'questionnaire[important_gathering]'}
        = five_options
      produkce a sběr lesních plodin (včetně hub a léčivých rostlin)
      %br
      %select{:id => :important_water, :name => 'questionnaire[important_water]'}
        = five_options
      vodohospodářské funkce
      %br
      %select{:id => :important_ground, :name => 'questionnaire[important_ground]'}
        = five_options
      půdoochranné funkce
      %br
      %select{:id => :important_climate, :name => 'questionnaire[important_climate]'}
        = five_options
      klimatické funkce
      %br
      %select{:id => :important_health, :name => 'questionnaire[important_health]'}
        = five_options
      zdravotně hygienické funkce (rekreační, zdravotní)
      %br
      %select{:id => :important_nature, :name => 'questionnaire[important_nature]'}
        = five_options
      přírodoochranné funkce
      %br
    %li
      %h2 Jaký je váš vztah k České zemědělské univerzitě v Praze?
      %input{:id => 'relation_employee', :name => 'questionnaire[relation]', :type => :radio, :value => 'employee'}
      %label{:for => 'relation_employee'} jsem zaměstnanec/zaměstnankyně
      %br
      %input{:id => 'relation_student', :name => 'questionnaire[relation]', :type => :radio, :value => 'student'}
      %label{:for => 'relation_student'} jsem student/studentka
      %br
      %input{:id => 'relation_none', :name => 'questionnaire[relation]', :type => :radio, :value => 'none'}
      %label{:for => 'relation_none'} žádný
      %br
  %input{:id => :submit, :name => 'submit', :type => 'submit', :value => 'Odeslat II. část'}

