%h1 Dotazník I. část

#wrapper
  %form{:action => "/save_first/#{params[:uid]}", :method => :post}
    %ol
      %li
        Jak často navštěvujete les v průměru ročně?
        = radio_input :id => 'frequency_none', :name => 'questionnaire[frequency]', :value => 'vůbec'
        %br
        = radio_input :id => 'frequency_yearly', :name => 'questionnaire[frequency]', :value => '1 až 2 x ročně'
        %br
        = radio_input :id => 'frequency_monthly', :name => 'questionnaire[frequency]', :value => '1 x měsíčně'
        %br
        = radio_input :id => 'frequency_weekly', :name => 'questionnaire[frequency]', :type => :radio, :value => '1 x týdně'
        %br
        = radio_input :id => 'frequency_daily', :name => 'questionnaire[frequency]', :value => '2 až 3 x týdně'
        %br
        %label{:for => 'frequency_other'} Jinak často
        = text_input :attr => 'frequency_other'
        prosím vypište
      %li
        Jak dlouhou dobu obvykle trávíte návštěvou lesa?
        prosím vypište
        = text_input :attr => 'time_spent'
        %label{:for => 'time_spent'} hodin
      %li
        Za jakým účelem obvykle navštěvujete les?
        prosím určete významnost od nejvyšší 5 po nejnižší 1
        %br
        = select :attr => :purpose_relaxation, :options => five_options
        %label(for='purpose_relaxation') pro duševní a fyzickou relaxaci, rekreaci
        %br
        = select :attr => :purpose_hobbitry, :options => five_options
        pro zájmovou činnost (sport, příroda, myslivost, poznávání apod.)
        %br
        = select :attr => :purpose_gathering, :options => five_options
        pro sběr lesních plodin (včetně léčivých rostlin)
        %br
        = select :attr => :purpose_fuel, :options => five_options
        pro sběr paliva
      %li
        Které je Vaše oblíbené území lesa?
        prosím vypište
        = text_input :attr => :favorite_place

    = submit :value => 'Odeslat I. část'

