%h1 Dotazník II. část

#wrapper
  %form{:action => "/save_second/#{params[:uid]}", :method => :post}
    %ol{:start => "5"}
      %li
        %h2 Kolik byste byli ochotni zaplatit peněz za jednorázovou návštěvu Vašeho oblíbeného lesa, aniž byste se jí vzdali?
        = text_input :attr => :once_payment
      %li
        %h2 Jakou částku byste byli ochotni jednorázově přijmout výměnou za trvalé znemožnění návštěvy Vašeho oblíbeného lesa?
        = text_input :attr => :once_receive
      %li
        %h2 Jaká je podle vás významnost funkcí lesa v České republice?
        = select :attr => :important_wood, :options => five_options
        produkce a využití dříví 
        %br
        = select :attr => :important_gathering, :options => five_options
        produkce a sběr lesních plodin (včetně hub a léčivých rostlin)
        %br
        = select :attr => :important_water, :options => five_options
        vodohospodářské funkce
        %br
        = select :attr => :important_ground, :options => five_options
        půdoochranné funkce
        %br
        = select :attr => :important_climate, :options => five_options
        klimatické funkce
        %br
        = select :attr => :important_health, :options => five_options
        zdravotně hygienické funkce (rekreační, zdravotní)
        %br
        = select :attr => :important_nature, :options => five_options
        přírodoochranné funkce
        %br
      %li
        %h2 Jaký je váš vztah k České zemědělské univerzitě v Praze?
        = radio_input :id => 'relation_employee', :name => 'questionnaire[relation]', :value => 'jsem zaměstnanec/zaměstnankyně'
        %br
        = radio_input :id => 'relation_student', :name => 'questionnaire[relation]', :value => 'jsem student/studentka'
        %br
        = radio_input :id => 'relation_none', :name => 'questionnaire[relation]', :value => 'žádný'
        %br
    %input{:id => :submit, :name => 'submit', :type => 'submit', :value => 'Odeslat II. část'}

